---
---

@import "{{ site.theme }}";

img {
  border-radius: 12px;
}

code {
  border-radius: 12px;
}

pre code {
  border-radius: 12px;
  display: block;
  padding: 1em;
  overflow: auto;
}

pre {
  border-radius: 12px;
  background-color: #f6f8fa;
  margin-bottom: 1em;
}